body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  background-color: lightblue;
}

.landing-container {
  background-color: pink;
}

.landing-content {
  padding: 5% 10%;
  text-align: center;
  @media (min-width: 500px) {
    margin-right: 45%;
  }
}

.nav {
  background-color: yellow;
  .navbar-brand {}
  .navbar-nav .nav-item .nav-link {
    font-weight: 600;
    text-transform: uppercase;
  }
  @media (max-width: 700px) {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
  }
  @media (min-width: 701px){
    z-index: 16777271;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100vh;

    .navbar-brand {
      display: flex;
      margin: auto auto 0;
      padding: 0.5rem;

      .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid fade-out(white, 0.8);
      }
    }

    .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;
      width: 100%;
      margin-bottom: auto;

      .navbar-nav {
        flex-direction: column;
        width: 100%;

        .nav-item {
          display: block;

          .nav-link {
            display: block;
          }
        }
      }
    }
  }
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.full {
  height: 100%;
  width: 100%;
  @media (max-width: 700px) {
    padding-top: 15%;
  }
}
//problem ewith nav immediately collapsing on mobile solved?:

.carousel-container {
  background-color: green;
  height: inherit;
}

.collapse {
  display: block !important;
}

.carousel {
  height: inherit;
}

.carousel-item {
  height: inherit;
  img {
    min-width: 100%;
    max-height: 1000px;
    position: relative;
    right: 0px;
    bottom: 0px;
  }
}
